<!DOCTYPE html>
<html>
<head>
  <title>ControllerResources</title>
  <%= stylesheet_link_tag    "controller_resources/application", media: "all" %>
  <%= javascript_include_tag "controller_resources/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
